* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4682B4;
}

.contacts__h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 50px;
    font-family: 'Palette Mosaic', cursive;
}

.contacts__form {
    background-image: url('../image/2.jpeg');
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    border: 1px solid black;
    
}
.contacts__inp {
    width: 200px;
    height: 25px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.contacts__item {
    background-image: url('../image/3.jpeg');
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    margin: 50px auto;
    border: 1px solid black;
}

.buttons__container {
    margin: 0 auto;
    
}

.contacts__item {
    margin-top: 20px;
    display: flex;
}

.contacts__container {
    
    flex-basis: 250px;
    padding: 20px;
    font-size: 20px;
    margin:0 auto;
    font-family: cursive;
  
}
.contacts__container div:not(:last-child) {
   margin-right: 10px;
   margin-bottom: 10px;
}

.contacts__btn {
    margin-left: 20px;
    margin-right: 10px;
    width: 60px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}
.contacts__btn:hover {
    background-color: aqua;
}
.contacts__btn:not(:last-child) {
    margin-bottom: 5px;
}

.contacts__send {
    width: 60px;
    height: 30px;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.contacts__send:hover {
    background-color: aqua;
}
